<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzpt.mapper.LoginMapper">
	
	<!-- 根据account查询账号信息 -->
	<select id="getAccountInfo" parameterType="String" resultType="com.yzpt.entity.Account">
		SELECT  T.ID ,T.ACCOUNT ,T.PASSWORD FROM T_SSM_ACCOUNT T WHERE ACCOUNT = #{account}
	</select>
</mapper>