<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzpt.mapper.RegisteMapper">
	
	<!-- 添加账号信息  -->
	<insert id="addAccount" useGeneratedKeys="true" keyProperty="id" parameterType="com.yzpt.entity.Account">
		  INSERT INTO T_SSM_ACCOUNT (ACCOUNT,PASSWORD) VALUES(#{account},#{password})
	</insert>
	
	<!-- 添加用户信息 -->
	<insert id="addUser" parameterType="com.yzpt.entity.User">
		INSERT INTO T_SSM_USER (USERNAME,ACCOUNTID) VALUES (#{username},#{account}+0)
	</insert>
	
</mapper>