<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzpt.mapper.UserMapper">
	
	<!-- 根据账号id查询对应的用户信息  -->
	<select id="getUserInfo" parameterType="java.lang.Integer" resultType="com.yzpt.entity.User">
		SELECT T.ID ,T.USERNAME ,T.AGE ,T.SEX ,A.ACCOUNT FROM T_SSM_USER T , T_SSM_ACCOUNT A WHERE T.ACCOUNTID = A.ID AND T.ACCOUNTID = #{accountid}
	</select>
	
</mapper>